<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @workout.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
