<p id="notice"><%= notice %></p>

<h4>Date: <%= @workout.date.to_date %></h4>

<h4>Notes</h4>
<p><%= @workout.notes %></p>

<table class="table table-bordered">
  <thead>
  <th class="col-md-1">Exercise</th>
  <th class="col-md-1">Weight (kg)</th>
  <th class="col-md-1">Repetition</th>
  </thead>
  <tbody>
  <% @workout.exercise_sets.each do |set| %>
      <tr>
        <td><%= link_to set.exercise.name, set.exercise %></td>
        <td><%= set.weight_kg %></td>
        <td><%= set.repetition %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Destroy', @workout, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_workout_path(@workout) %>
