<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :main_muscles %><br>
    <%= f.text_field :main_muscles %>
  </div>
  <div class="field">
    <%= f.label :bodypart %><br>
    <%= f.text_field :bodypart %>
  </div>
  <div class="field">
    <%= f.label :force %><br>
    <%= f.text_field :force %>
  </div>
  <div class="field">
    <%= f.label :mechanics_type %><br>
    <%= f.text_field :mechanics_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
