<p id="notice"><%= notice %></p>
<%= link_to 'New Exercise', new_exercise_path, class: 'btn btn-primary' %>

<h1>Listing Exercises</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Main muscles</th>
      <th>Bodypart</th>
      <th>Force</th>
      <th>Mechanics type</th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.name, exercise %></td>
        <td><%= exercise.main_muscles %></td>
        <td><%= exercise.bodypart %></td>
        <td><%= exercise.force %></td>
        <td><%= exercise.mechanics_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


